<!DOCTYPE html>
<html>
<head>
    <title>Conum Development</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout-validation/2.0.3/knockout.validation.min.js"></script>
    <script src="{{ url_for('static', filename='libs/sammy.js') }}"></script>
    <script src="{{ url_for('static', filename='validation/ua-UA.js') }}"></script>
    <script src="{{ url_for('static', filename='config.js') }}"></script>
    <script src="{{ url_for('static', filename='models/authModel.js') }}"></script>
    <script src="{{ url_for('static', filename='models/appModel.js') }}"></script>
    <script src="{{ url_for('static', filename='routes.js') }}"></script>
    <script src="{{ url_for('static', filename='root.js') }}"></script>
</head>
<body>
    <nav class=" navbar-inverse navbar-static-top">
	  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="/">
				<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
				Conum
			  </a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<!-- Routes -->
				<ul class="nav navbar-nav navbar-right routes" data-bind="foreach: currentRoutes">
					<li data-bind="attr: {id:$data}">
						<a href="#" data-bind="text: $data, css: { selected: $data == $root.chosenRouteId() },
					   click: Config.goToRoute"></a>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
    </nav>

  <div class="container">

    <div data-bind="with:auth.formLogin">
        <!-- Login form -->
        <form id="form-login">
            <input type="text" class="form-control"  data-bind="textInput: Config.email" placeholder="Адреса електронної пошти" onkeyup="if(event.keyCode==13)document.getElementById('login-button').click()">
            <input type="password" class="form-control"  data-bind="textInput: Config.password" placeholder="Пароль" onkeyup="if(event.keyCode==13)document.getElementById('login-button').click()">
            <button class="btn btn-lg btn-primary btn-block" id="login-button" type="submit" data-bind="click: function() { $root.auth.login(); }">Ввійти</button>
        </form>
    </div>

    <div data-bind="with:auth.formRegister">
        <!-- Register form -->
        <form id="form-register">
            <input type="text" class="form-control" data-bind="textInput: Config.email" placeholder="Адреса електронної пошти" onkeyup="if(event.keyCode==13)document.getElementById('register-button').click()">
            <input type="password" class="form-control" data-bind="textInput: Config.password" placeholder="Пароль" onkeyup="if(event.keyCode==13)document.getElementById('register-button').click()">
            <input type="password" class="form-control" data-bind="textInput: Config.confirmPassword" placeholder="Підтвердження паролю" onkeyup="if(event.keyCode==13)document.getElementById('register-button').click()">
            <button class="btn btn-lg btn-primary btn-block" id="register-button" type="submit" data-bind="click: function() { $root.auth.register(); }">Зареєструватися</button>
        </form>
    </div>

    <div data-bind="with:auth.formReset">
        <!-- Reset form -->
        <form id="form-reset">
            <input type="text" class="form-control" data-bind="textInput: Config.email" placeholder="Адреса електронної пошти" onkeyup="if(event.keyCode==13)document.getElementById('reset-button').click()">
            <button class="btn btn-lg btn-primary btn-block" id="reset-button" type="submit" data-bind="click: function() { $root.auth.sendResetEmail(); }">Скинути пароль</button>
        </form>
    </div>

    <div data-bind="with:auth.formConfirmReset">
        <!-- Confirm reset request form -->
        <form id="form-confirm-reset">
            <input type="text" class="form-control" data-bind="textInput: Config.secret" placeholder="Пароль з отриманого листа" onkeyup="if(event.keyCode==13)document.getElementById('confirm-reset-button').click()">
            <button class="btn btn-lg btn-primary btn-block" id="confirm-reset-button" type="submit" data-bind="click: function() { $root.auth.resetRequest(); }">Підтвердити скидання паролю</button>
        </form>
    </div>

    <div data-bind="with:auth.formNewPassword">
        <!-- New password form -->
        <form id="form-new-password">
            <input type="password" class="form-control" data-bind="textInput: Config.newPassword" placeholder="Пароль" onkeyup="if(event.keyCode==13)document.getElementById('register-button').click()">
            <input type="password" class="form-control" data-bind="textInput: Config.confirmNewPassword" placeholder="Підтвердження паролю" onkeyup="if(event.keyCode==13)document.getElementById('register-button').click()">
            <button class="btn btn-lg btn-primary btn-block" id="new-password-button" type="submit" data-bind="click: function() { $root.auth.newPassword(); }">Оновити пароль</button>
        </form>
    </div>

    <div data-bind="with:auth.formResetSuccess">
        <!-- Reset success page -->
        <form id="form-reset-success">
            <p>Ваш пароль було успішно скинуто.</p>
            <button class="btn btn-lg btn-primary btn-block" type="submit" data-bind="click: function() { Config.goToRoute('Ввійти') }">Увійти в систему</button>
        </form>
    </div>

    <div data-bind="with:auth.formSecretRejected">
        <!-- Secret rejected page -->
        <form id="form-secret-rejected">
            <p>Ви ввели неправильне секретне число. Спробуйте повторити процедуру, що вказана в отриманому вами листі або можете скинути пароль ше раз.</p>
            <button class="btn btn-lg btn-primary btn-block" type="submit" data-bind="click: function() { Config.goToRoute('Відновити пароль') }">Скинути пароль</button>
        </form>
    </div>

    <div data-bind="with:auth.formRestartProcess">
        <!-- Reset error page -->
        <form id="form-restart-process">
            <p>У процесі скидання паролю сталася помилка. Спробуйте повторити через певний час.</p>
            <button class="btn btn-lg btn-primary btn-block" type="submit" data-bind="click: function() { Config.goToRoute('Відновити пароль') }">Скинути пароль</button>
        </form>
    </div>

    <div data-bind="with:auth.formFatalError">
        <!-- Reset error page -->
        <form id="form-restart-process">
            <p>У процесі роботи сталася величезна помилка. Наші міньйони вже працюють над її усуненням.</p>
            <button class="btn btn-lg btn-primary btn-block" type="submit" data-bind="click: function() {$('form').fadeOut('slow');}">Дозволити долагодити <b>Coconum</b></button>
        </form>
    </div>

    <!-- Counters list -->
    <div class="row counters dashboard" data-bind="foreach: {data: AppModel.counters, as: 'counter'}">
        <div class="col-sm-12 counter-nest" data-bind="style: {borderColor: counter.color}">
            <div class="col-sm-2 center-text">
                <span class="glyphicon glyphicon-ok-circle counter-icon" data-bind="style: {color: counter.color}"></span>
            </div>

            <!-- General counter's info-->
            <div class="col-sm-8 counter-title h3">
                <div class="col-sm-12 h3">
                    <span class="h3">Назва: </span>
                    <span data-bind="text: counter.title, attr: {'id': 'title-for-' + counter.id()}"></span>
                    <button type="button" class="btn btn-xs btn-info edit"
                        data-toggle="collapse"
                        data-bind="attr: { 'data-target': '#edit-for-' + counter.id()}">
                        Редагувати</button>
                </div>

                <div class="col-sm-12">
                    <span>Одиниця вимірювання: </span>
                    <strong><span data-bind="text: counter.dimension, attr: {'id': 'dimension-for-' + counter.id()}"></span></strong>
                </div>
                <div class="col-sm-12">
                    <span>Останній запис має значення </span>
                    <strong><span data-bind="text: counter.records()[0].value"></span></strong>
                    <span> та актуальний станом на </span>
                    <strong><span data-bind="text: counter.records()[0].creationDate"></span></strong>
                </div>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-info all-records center-text"
                    data-toggle="collapse"
                    data-bind="
                    attr: { 'data-target': '#records-for-' + counter.id()},
                    style: { background: counter.color}">
                    Показники</button>
            </div>

            <!-- Edit counter-->
			<div class="col-sm-offset-2 col-sm-8 pull-right col-xs-pull-2 collapse" data-bind="attr: {id: 'edit-for-' + counter.id()}">
				<div class="bs-component">
				  <ul class="nav nav-tabs">
                    <li class="active"><a data-bind="attr:{href: '#edit-title-for-' + counter.id()}" data-toggle="tab" aria-expanded="true">Назва</a></li>
					<li class=""><a data-bind="attr:{href: '#edit-dimension-for-' + counter.id()}" data-toggle="tab" aria-expanded="false">Одиниця вимірювання</a></li>
					<li class=""><a data-bind="attr:{href: '#edit-color-for-' + counter.id()}" data-toggle="tab" aria-expanded="false">Колір</a></li>
					<li class=""><a data-bind="attr:{href: '#deletion-for-' + counter.id()}" data-toggle="tab" aria-expanded="false">Видалення</a></li>
				  </ul>
				  <div class="tab-content">
					<div class="tab-pane fade active in" data-bind="attr: {id: 'edit-title-for-' + counter.id()}">
                        <div class="form-group">
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Введіть нову назву">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"
                                    data-bind="click: function() { $root.app.changeCounterTitle(counter.id(), $('#edit-title-for-' + counter.id() +' input')[0].value);}">Змінити</button>
                            </span>
                          </div>
                        </div>
					</div>
					<div class="tab-pane fade" data-bind="attr: {id: 'edit-dimension-for-' + counter.id()}">
                        <div class="form-group">
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Введіть іншу одиницю вимірювання">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"
                                    data-bind="click: function() { $root.app.changeCounterDimension(counter.id(), $('#edit-dimension-for-' + counter.id() +' input')[0].value);}">Змінити</button>
                            </span>
                          </div>
                        </div>
					</div>
					<div class="tab-pane fade" data-bind="attr: {id: 'edit-color-for-' + counter.id()}">
					  <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
					</div>
					<div class="tab-pane fade" data-bind="attr: {id: 'deletion-for-' + counter.id()}">
					  <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
					</div>
				  </div>
				</div>
			</div>

            <!-- Records list-->
            <div data-bind="attr: {id: 'records-for-' + counter.id()}" class="col-sm-12 collapse center-text">
                    <div class="col-sm-offset-3 col-sm-4 left-text">
                        <span>Часова мітка: </span>
                    </div>
                    <div class="col-sm-5">
                        <span>Значення: </span>
                    </div>

				<div data-bind="foreach: {data: counter.records, as: 'record'}">
					<div class="col-sm-offset-3 col-sm-4 left-text">
						<span data-bind="text: record.creationDate"></span>
					</div>
					<div class="col-sm-5">
						<span data-bind="text: record.value"></span>
					</div>
				</div>
                <div class="col-sm-12 counter-nest-bottom"></div>

			</div>
        </div>
    </div>
  </div>
</body>

</html>
