body {
    font-size: 16px;
}

form, .dashboard{
    margin: 8em auto;
}

.glyphicon {
    font-size: 0.95em;
}

.counter-icon {
    display: block;
	font-size: 6em;
    vertical-align: bottom;
    padding: 0.3em;
    margin-bottom: 0.2em;
}

form {
    max-width: 330px;
}

form input {
    margin: 1em auto;
}

form p, .validationMessage {
    margin: 0.5em auto;
    display: table;
}

label {
    display: inline;
}


.counter-title {
    font-size: 16px;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.counter-nest {
    margin-top: 15px;
    border-bottom: 1px solid #ccc;
}

.counter-nest-bottom {
    margin-bottom: 30px;
}

.all-records {
    margin-top: 4em;
    border: none;
}
